* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

ul {
  list-style: none;
}

button {
  border: none;
}

img {
  height: auto;
  display: block;
  max-width: 100%;
  width: 100%;
}

.photo {
  max-width: 370px;
  height: 294px;
  background-image: url(../img/tablet.jpg);
  background-size: cover;
}

@media (min-width: 768px) {
  .photo {
    background-image: url(../img/tablet.jpg);
  }
}