* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

ul {
  list-style: none;
}

button {
  border: none;
}

.menu {
  display: flex;
  align-items: center;
  gap: 50px;
  background-color: skyblue;
}

body {
  background-color: tomato;
}

.nav__link {
  color: tomato;
}

.nav__link--active {
  color: cadetblue;
}

.alert {
  font-size: 25px;
  padding: 28px 35px;
  background-color: #e0c8c8;
  border: 2px solid black;
}

.alert--succes {
  color: #fff;
  background-color: green;
}

.alert--warning {
  color: black;
  background-color: yellow;
}

.alert--error {
  color: #fff;
  background-color: red;
}

.header {
  padding: 20px 0;
  background-color: azure;
}
.header .logo {
  background-color: aqua;
}
.header a {
  color: coral;
}
.header a:hover {
  color: green;
}

.nav__link {
  color: tomato;
}
.nav__link:hover {
  color: chartreuse;
}
.nav__link--active {
  color: blue;
}

.nav__item {
  padding: 10px;
}
.nav__link {
  text-decoration: underline;
}