@import "./reset";
@import "./utils/placeholders";
@import "./utils/mixins";
// $gap: 50px;
// $bg-color-primary: skyblue;
// kebab-case те як пишуться змінні
// camelCase
// snake_case

// .menu {
//   display: flex;
//   align-items: center;
//   gap: $gap;
//   background-color: $bg-color-primary;
// }
// body {
//   $color-accent: tomato;
//   background-color: $color-accent;
// }
// .nav__link {
//   color: tomato;
// }
// .nav__link--active {
//   color: cadetblue;
// }

// .alert {
//   font-size: 25px;
//   padding: 28px 35px;
//   background-color: #e0c8c8;
//   border: 2px solid black;
// }
// .alert--succes {
//   color: #fff;
//   background-color: green;
// }
// .alert--warning {
//   color: black;
//   background-color: yellow;
// }
// .alert--error {
//   color: #fff;
//   background-color: red;
// }
// --------------------------------------------
// .header {
//   padding: 20px 0;
//   background-color: azure;

//   .logo {
//     background-color: aqua;
//   }
//   a {
//     color: coral;
//     &:hover {
//       color: green;
//     }
//   }
// }
// .nav__link {
//   color: tomato;
//   &:hover {
//     color: chartreuse;
//   }
//   &--active {
//     color: blue;
//   }
// }
// .nav {
//   &__item {
//     padding: 10px;
//   }
//   &__link {
//     text-decoration: underline;
//   }
// }

// .button-warning {
//   @extend %button;
//   background-color: aqua;
// }
// .button-error {
//   @extend %button;
//   background-color: brown;
// }
// .button-succes {
//   @extend %button;
//   background-color: darkgoldenrod;
// }
// .list li {
//   width: 50px;
//   height: 20px;
//   background-color: bisque;
// }
// .list {
//   @include flex-grid(50px, 20px);
//   flex-wrap: wrap;
// }

// .button {
//   padding: 10px 20px;
//   font-size: 22px;
//   color: #333;
//   border: 2px solid #333;
//   border-radius: 10px;
// }
// $colors: tomato, skyblue, teal, red, gold;

// @each $color in $colors {
//   .button--#{$color} {
//     background-color: $color;
//   }
// }

// @each $photo in cat, bird {
//   .button--#{$photo} {
//     background-image: url(../img/#{$photo}.webp);
//   }
// }

// $size: 500px;

// .block {
//   width: calc($size + 50%);
// }
// .box {
//   width: 946px / 3 + 50px;
// }
// $bg-btn-color: tomato;
// .button {
//   padding: 10px 20px;
//   font-size: 22px;
//   color: #333;
//   border: 2px solid #333;
//   border-radius: 10px;
//   &:hover {
//     background-color: darken($bg-btn-color, 10%);
//   }
// }
// $colors: tomato, skyblue, teal, red, gold;
body {
  font-size: 16px;
}
.container {
  min-width: 320px;
  max-width: 1600px;
  margin: 0 auto;
}
.list {
  padding: 20px 0;
  column-gap: 50px;
  row-gap: 100px;
  background-color: rgb(123, 123, 216);

  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.link {
  color: #333;
  font-size: 2.5em;
}
@media (max-width: 468px), (min-width: 1200px) {
  .list {
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    padding: 50px 0;
  }
  .link {
    font-size: 3em;
  }
}
